<div class="user-login-block">
    <form>
        <div id="form-title">
            LOGIN
        </div>
        <br>
        <input type="text" value="" placeholder="Enter Username" id="username" />
        <br><br>
        <input type="password" value="" placeholder="Enter password" id="password">
        <br><br><br><br>
        <button type="button" id="login-request-button">Login</button>
    </form>
    <a href="#/register" class="register-link">Register here</a>
    <a href="#/" class="register-link">Go to home page</a>
</div>

<footer>
    <p class="footer-text">&copy; Petar Shopov, All Rights Reserved</p>
</footer>