<div class="user-login-block">
    <div id="form-title">
        REGISTER
    </div>
    <form class="user-register">
        <input type="text" value="" placeholder="Enter Username" id="username" />
        <input type="text" value="" placeholder="Enter Full Name" id="full-name" />
        <input type="password" value="" placeholder="Enter password" id="password" />
        <input type="password" value="" placeholder="Re-Enter password" id="pass-confirm" />
        <br>

        <button type="button" id="register-request-button">Register</button>
    </form>
    <a href="#/login" class="register-link">Login here</a>
    <a href="#/" class="register-link">Go to home page</a>
</div>

<footer>
    <p class="footer-text">&copy; Petar Shopov, All Rights Reserved</p>
</footer>