<header class="main-header">
    <div id="header-text">
        <h1>Tr1pAcholic.com</h1>
    </div>
    <ul class="all-menu-element">
        <li class="single-menu-element">
            <a href="#/" class="single-menu-element-link">
                    <img src="images/HomButton.png" id = "homeButton">
                </a>
        </li>

        <li class="single-menu-element" id="dropdown">
            <a href="#/login" class="single-menu-element-link" id="dropbtn">
                Travel to
            </a>
            <div class="dropdown-content">
                <a href="#">Europe</a>
                <a href="#">South America</a>
                <a href="#">North America</a>
                <a href="#">Asia</a>
                <a href="#">Africa</a>
                <a href="#">Rest of the world</a>
            </div>
        </li>

        <li class="single-menu-element">
            <a href="#/login" class="single-menu-element-link">
                Contact us
            </a>
        </li>

        <li  class="single-menu-element">
            <a href="#/register" class="single-menu-element-link">
                    About
                </a>
        </li>

        <li style="float:right" class="single-menu-element">
            <a href="#/login" class="single-menu-element-link">
                    Login
                </a>
        </li>

        <li style="float:right" class="single-menu-element">
            <a href="#/register" class="single-menu-element-link">
                    Register
                </a>
        </li>

        
    </ul>
</header>

<section class="guest-section">
    <img src="images/world-map-black.png" style="width:1000px; height:600px; padding:50px 120px" id = "homeButton">
    
    <footer>
        <p class="footer-text">&copy; Petar Shopov, All Rights Reserved</p>
    </footer>
</section>