.home_link {
    color: white;
    background-color: grey;
    border: 1px solid black;
    text-align: center;
    width: 120px;
    padding: 5px;
    margin-left: 570px;
    border-radius: 10px; 
    font-weight: 3px;
}

.home_link:hover {
    color: blue;
}

.preparedBy {
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 25px;
}

