.wrapper {
    background-size: cover;
}

.user-login-block {
    border-radius: 15px;
    background-color: black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
    opacity: 0.7;
    margin: 5% auto;
    width: 35%;
    height: 55%;
    padding: 10px;
    text-align: center;
}

form {
    margin: 0 auto;
    text-align: center;
    display: block;
}

input {
    border-radius: 30px;
    border: 3px solid #f2f2f2;
    width: 60%;
    height: 35px;
    margin: 0 auto 10px;
    text-align: center;
}

input:focus {
    font: 15px Ariel;
    font-weight: 100;
    outline: none;
    border: 3px solid #0099ff;
}

button {
    font-size: 16px;
    color: white;
    background-color: darkslategrey;
    padding: 5px;
    margin: 15px 25px 10px 25px;
    border: none;
    border-radius: 10px;
    width: 35%;
}

button:hover {
    color: #0099ff;
}


#form-title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
    color: #0099ff;
    text-align: center;
}

.register-link {
    display: inline-block;
    background-color: darkslategrey;
    color: white;
    width: 160px;
    border-radius: 10px;
    font-weight: 3;
    font-size: 16px;
    position: center;
    line-height: 30px;
}

.register-link:hover {
    color: #0099ff;
}

#register-request-button, #login-request-button{
    display: inline-block;
    background-color: #0099ff;
    color: white;
    width: 150px;
    border-radius: 30px;
    padding: 7px;
    margin: 25px;
    font-weight: 3;
    font-size: 18px;
    position: center;
    line-height: 30px;
}

#register-request-button:hover{
    color: black;
    cursor: pointer;
}

.main-content {
    background-image: url("images/paper.jpg") no-repeat center center fixed;
    padding: 0px;
    height: 700px;
}