a {
    text-decoration: none;
    color: #565656;
}

.title {
    font: 32px Ariel;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
}

.subtitle {
    font: 16px Lato;
    font-weight: 100;
    margin-bottom: 5px;
    float: left;
    color: #0099ff;
}

.content {
    padding-top: 2.5%;
    font: 16px Lato;
    font-weight: 500;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.articles {
    margin-left: 5%;
}

.single-post {
    padding: 10px 20px 40px 20px;
    background-color: lightgrey;
    border-radius: 25px;
    margin-bottom: 100px;
    margin-left: 70px;
    width: 90%;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.51);
}
